.team-section {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  align-items: center;
  gap: 48px;
  padding: 80px 10vw;
}

.team-images {
  max-width: 100%;
}

.team-collage-img {
  width: 80%;
  height: auto;

}

.team-content {
  max-width: 100%;
}

.team-content h2 {
font-family: Poppins, sans-serif;
font-weight: 600;
font-size: 56px;
line-height: 100%;
letter-spacing: 0%;
align-items: left;
}

.team-content p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.8;
  margin-bottom: 32px;
}
